*.py[cod]
*$py.class
.*.swp
/automation/jsr223/python/personal/**
/automation/jsr223/javascript/personal/**
/automation/jsr223/groovy/personal/**
/automation/jython/lib/personal/**
/automation/js/**
/js/**
!/automation/jsr223/python/personal/.gitkeep
!/automation/jsr223/javascript/personal/.gitkeep
!/automation/jsr223/groovy/personal/.gitkeep
!/automation/jython/lib/personal/.gitkeep

# VSCode settings
.vscode/

# Python Virtual Environment
.venv


# Standard OpenHAB configuration directories
/items/**
/persistence/**
/sitemaps/**
/misc/**
/sounds/**
/services/**
/scripts/**
/rules/**
/typings/*
!/typings/core
/transform/**
/html/**
/icons/**
/things/**
/influxdb.persist
/cont-init.d/**
/config/**
